################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.pdb
/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.exe
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.pdb
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.exe
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.csprojResolveAssemblyReference.cache
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.vshost.exe.manifest
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.vshost.exe.config
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.vshost.exe
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.pdb
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.exe.config
/Ex04.Menus.Delegates/bin/Debug/Ex04.Menus.Delegates.exe
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.pdb
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.exe
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.csproj.FileListAbsolute.txt
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.vshost.exe.manifest
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.vshost.exe.config
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.vshost.exe
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.pdb
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.exe.config
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.exe
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.pdb
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.exe
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.csproj.FileListAbsolute.txt
/Ex04.Menus.Test/obj
/.vs/B18 Ex04 Chen 308334309 Snir 203698808/v15/Server/sqlite3
/.vs/B18 Ex04 Chen 308334309 Snir 203698808/v15
/.vs
/Ex04.Menus.Interfaces/obj
/Ex04.Menus.Interfaces/bin/Debug
/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.dll
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.dll
/Ex04.Menus.Delegates/bin/Debug
/Ex04.Menus.Delegates/obj/Release
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.csproj.CoreCompileInputs.cache
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.csprojResolveAssemblyReference.cache
/Ex04.Menus.Test/bin/Debug
/Ex04.Menus.Delegates/obj/Debug/Ex04.Menus.Delegates.dll
