################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.pdb
